// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.feed {
  display: inline-block;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  
  max-width: 468px;
}

.feedposts {
  padding: 16px 16px 8px 16px;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  min-width: 300px;
}

#crud-icons a {
  color: blue; 
  text-decoration: none;
  background-color: white;
  padding: 3px 3px 3px 3px;
}

#crud-icons a:hover {
  color: red; 
  text-decoration: none;
  background-color: white;
}
