 <h1 class="mt-5">Welcome to Acebook</h1>
    <br>
    <p class="lead">Where you can connect and share with the people in your life.</p>
     <p class="lead"> Please login or sign up! <p>

         
        <ul class="list-unstyled">
          <li>something</li>
          <li>something</li>
        </ul>